@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,900;1,400&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Lato, sans-serif;
}
.main-container{
    width: 100%;
    height: auto;
    background-color: #3b3738;
}
.mini-bar{
    width: 100%;
    height: 50px;
    background-color: #333238;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}
.mini-bar ul{
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.mini-bar ul li:last-child{
    display: none;
}
.nav-bar{
    width: 100%;
    height: 80px;
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-inline: 80px;
    color: #ffffff;
}
.nav-bar ul{
    list-style: none;
}
.first{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.first img{
    width: 60px;
    height: 70px;
}
.first h1{
    font-size: 22px;
    letter-spacing: 1px;
}
.second{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
#all{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, rgba(234,20,118,1) 0%, rgba(178,82,179,1) 35%, rgba(136,107,211,1) 100%);
    font-size: 1rem;
    color: #ffffff;
}
.hero-section{
    width: 100%;
    height: 540px;
    background-image: url(2d255c5a-30da-418c-bb55-742a12885a67.webp);
    background-position: center;
    background-size: cover;
}
.google{
    width: 364px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #737ee8cc;
    border-radius: 25px 0px 0px 25px;
    position: relative;
    top: 80%;
    left: 76%;
    
}
.google i{
    color: orange;
    font-size: 18px;
}
.google h6{
    color: #ffffff;
    font-size: 14px;
}
.google span{
    margin-right: 15px;
}
.section-1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 h1{
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
}
.section-2{
    width: 100%;
    height: 540px;
    display: flex;
}
.left-section{
    width: 40%;
    height: 540px;
    display: flex;
    justify-content: center;
    padding-left: 130px;
    flex-direction: column;
    color: #ffffff;
}
.left-section h3{
    padding-bottom: 30px;
}

.right-section{
    width: 60%;
    height: 540px;
    background-image: url(./20211225_154833.jpg);
    background-position: center;
    background-size: cover;
}
.section-3{
    width: 100%;
    height: 540px;
    display: flex;
}
.left-part{
    width: 60%;
    height: 540px;
    background-image: url(./45cd6afa-5b9f-4aad-a30c-48c9812af882.jpg);
    background-position: center;
    background-size: cover;
}
.right-part{
    width: 40%;
    height: 540px;
    display: flex;
    justify-content: center;
    padding-left: 60px;
    flex-direction: column;
    color: #ffffff;
}
.right-part h3{
    padding-bottom: 30px;
}
.section-4{
    width: 100%;
    height: 540px;
    display: flex;
}
.left{
    width: 40%;
    height: 540px;
    display: flex;
    justify-content: center;
    padding-left: 130px;
    flex-direction: column;
    color: #ffffff;
}
.left h3{
    padding-bottom: 30px;
}

.right{
    width: 60%;
    height: 540px;
    background-image: url(./64ddfc4f-8d7b-4db0-8c43-d5627ec62374.jpg);
    background-position: center;
    background-size: cover;
}
.section-5{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.section-5 h1{
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
}
.section-5 img{
    width: 400px;
    height: 250px;
}
.section-5 img:hover{
    width: 410px;
    height: 260px;
    box-shadow: black;
}
.section-6{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.ame{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #ffffff;
}
.section-6 ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 22px;
    list-style: none;
    padding-left: 280px;
    color: #ffffff;
}
.section-6 ul li{
    margin-right: 15px;
}
#good{
    padding-right: 50px;
    text-align: center;
}
.section-6 button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-right: 10px;
    font-size: 18px;
}
.section-7{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}
.section-7 h1{
    font-size: 42px;
    font-weight: 700;
}
.section-7 h3{
    font-size: 28px;
    font-weight: 200;
}
.box{
    width: 350px;
    height: 300px;
    margin-left: -600px;
    background-color: #333238;
}
.box img{
    width: 350px;
    height: 180px;
}
.lower-box{
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-inline: 15px;
}
.box button{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: #737ee833;
    border: none;
    color: #ffffff;
}
.section-9{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #ffffff;
}
.section-9 h1{
    font-size: 42px;
    font-weight: 700;
}
.section-9 h3{
    font-size: 20px;
    font-weight: 200;
}
.section-9 hr{
    width: 150px;
}
.request-txt{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 220px;
    margin-top: 30px;
}
#request{
    width: 500px;
    height: 250px;
    background-color: #4f4b4c;
    padding: 15px;
    font-size: 16px;
}
.send-left{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.send-left input{
    width: 500px;
    height: 50px;
    background-color: #4f4b4c;
    border: 1px solid grey;
    font-size: 16px;
    padding: 15px;
}
.send-left input:nth-child(2){
    margin-top: 50px;
}
.send-left input:last-child{
    margin-top: 50px;
}
.section-9 p{
    font-size: 12px;
    margin-top: -30px;
}
.section-9 p a{
    color: #ffffff;
}
.section-9 button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, rgba(234,20,118,1) 0%, rgba(178,82,179,1) 35%, rgba(136,107,211,1) 100%);
    font-size: 1rem;
    color: #ffffff;
}
.opening-section{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.opening-section h1{
    font-size: 42px;
    color: #ffffff;
}
.openin-part{
    width: 100%;
    height: 550px;
}
.box-1{
    width: 600px;
    height: 70px;
}
.box-1 span {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    font-size: 16px;
    color: #ffffff;
}
.box-1:first-child{
    background-color: #20201666;
    padding-top: 20px;
}
.box-1:nth-child(2){
    height: 50px;
    background-color: #20201633;
}
.box-1:nth-child(3){
    height: 50px;
    background-color: #20201666;
}
.box-1:nth-child(4){
    height: 50px;
    background-color: #202016;
}
.box-1:nth-child(5){
    height: 50px;
    background-color: #20201666;
}
.box-1:nth-child(6){
    height: 50px;
    background-color: #20201633;
}
.box-1:last-child{
    background-color: #20201666;
}
.footer-section{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: #e3dcde;
    padding-inline: 150px;
}
.footer-section ul{
    list-style: none;
}
.footer-section ul li{
    margin-top: 25px;
}
.footer-section ul li i{
    margin-right: 30px;
    font-size: 20px;
}
#indr{
    font-size: 16px;
}
#cntct{
    font-size: 24px;
}
.fb{
    padding-left: 65px;
}
.fb li:nth-child(2){
    font-size: 32px;
    padding-left: 55px;
}
.footer-section ul span{
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    margin-top: 20px;
}
.footer-section hr{
    width: 180px;
    margin-top: 10px;
}
.footer-section2{
    width: 100%;
    height: 100px;
    background-color: #302e2e;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 16px;
    align-items: center;
    color: #e3dcde;
    padding-inline: 250px;
}
.txt{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.icon{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.icon hr{
    width: 1px;
    height: 40px;
    color: grey;
}
.footer-section2 img{
    width: 150px;
    height: 100px; 
    margin-left: -50px;
}











@media (max-width: 768px) {
    .main-container{
        width: 100%;
        height: auto;
    }
    .mini-bar{
        width: 100%;
        height: 50px;
        padding-inline: 15px;
    }
    .mini-bar ul{
        width: 100%;
        justify-content: end;
    }
    .mini-bar ul li:last-child{
        display: inline;
        font-size: 32px;
    }
    .mini-bar ul li:first-child{
        display: none;
    }
    .mini-bar ul li:nth-child(2){
        display: none;
    }
    .mini-bar ul li:nth-child(3){
        display: none;
    }
    .mini-bar ul li:nth-child(4){
        display: none;
    }
    .mini-bar ul li:nth-child(5){
        display: none;
    }
    .mini-bar ul li:nth-child(6){
        display: none;
    }
    .mini-bar ul li:nth-child(7){
        display: none;
    }
    .mini-bar ul li:nth-child(8){
        display: none;
    }
    .mini-bar ul li:nth-child(9){
        display: none;
    }
    .mini-bar ul li:nth-child(10){
        display: none;
    }
    .mini-bar ul li:nth-child(11){
        display: none;
    }
    .nav-bar{
        width: 100%;
        height: 80px;
        padding-inline: 15px;
    }
    .second{
        display: none;
    }
    .first{
        width: 100%;
        justify-content: start;
    }
    .first h1{
        font-size: 20px;
        margin-left: 20px;
    }
    .first img{
        width: 64px;
        height: 64px;
    }
    .hero-section{
        width: 100%;
        height: 350PX;
    }
    .google{
        width: 364px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #737ee8cc;
        border-radius: 25px 0px 0px 25px;
        position: relative;
        top: 80%;
        left: 37.8%;    
    }
    .section-1{
        width: 100%;
        height: 80px;
    }
    .section-1 h1{
        font-size: 32px;
    }
    .section-2{
        width: 100%;
        height: auto;
        flex-direction: column;
        font-size: 14px;
    }
    .section-2 br{
        display: none;
    }
    .left-section{
        width: 100%;
        height: 230px;
        padding-inline: 25px;
    }
    .right-section{
        width: 100%;
        height: 200px;
    }
    .section-3{
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        font-size: 14px;
    }
    .section-3 br{
        display: none;
    }
    .right-part{
        width: 100%;
        height: 230px;
        padding-inline: 25px;
    }
    .left-part{
        width: 100%;
        height: 200px;
    }
    .section-4{
        width: 100%;
        height: auto;
        flex-direction: column;
        font-size: 14px;
    }
    .section-4 br{
        display: none;
    }
    .left{
        width: 100%;
        height: 230px;
        padding-inline: 25px;
    }
    .right{
        width: 100%;
        height: 230px;
    }
    .section-5{
        width: 100%;
        height: 400px;
    }
    .section-5 h1{
        font-size: 32px;
    }
    .section-5 img{
        width: 300px;
        height: 220px;
    }
    .section-5 img:hover{
        width: 300px;
        height: 220px;
    }
    .section-6{
        width: 100%;
        height: 550px;
    }
    .ame{
        width: 100%;
        height: 150px;
        font-size: 18px;
    }
    .section-6 ul{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-left: 0;
        align-items: start;
    } 
    .section-6 br{
        display: none;
    }
    .section-6 ul li{
        padding-left: 75px;
        margin-top: -40px;
        padding-bottom: 30px;
    }
    .section-7{
        width: 100%;
        height: 550px;
    }
    .section-7 h1{
        font-size: 32px;
    }
    .section-7 h3{
        font-size: 24px;
    }
    .box{
        width: 300px;
        height: 300px;
        margin-left: -220px;
    }
    .box img{
        width: 300px;
    }
    .lower-section{
        width: 100%;
        height: 170px;
    }
    .section-9{
        width: 100%;
        height: 800px;
        flex-direction: column;
        padding-inline: 15px;
    }
    .section-9 h1{
        font-size: 32px;
    }
    .section-9 h3{
        font-size: 16px;
    }
    .send-left input{
        width: 550px;
        margin-top: 20px;
    }
    .send-left input:nth-child(2){
        margin-top: 20px;
    }
    .send-left input:last-child{
        margin-top: 20px;
    }
    .request-txt{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-inline: 0px;
        margin-top: 60px;
    }
    #request{
        width: 550px;
    }
    .section-9 p{
        font-size: 10px;
        margin-top: 0px;
        line-height: 15px;
    }
    .opening-section{
        width: 100%;
        height: 500px;
    }
    .opening-section h1{
        font-size: 32px;
    }
    .openin-part{
        width: 100%;
        height: auto;
    }
    .box-1{
        width: 550px;
        height: 70;
    }
    .box-1:nth-child(2){
        height: 40px;
    }
    .box-1:nth-child(3){
        height: 40px;
    }
    .box-1:nth-child(4){
        height: 40px;
    }
    .box-1:nth-child(5){
        height: 40px;
    }
    .box-1:nth-child(6){
        height: 40px;
    }
    .footer-section{
        width: 100%;
        height: 400px;
        flex-direction: column;
        padding-inline: 10px;
        justify-content: start;
        align-items: start;
        font-size: 14px;
    }
    #cntct{
        font-size: 22px;
    }
    .fb{
        padding-left: 0px;
    }
    .fb li:nth-child(2){
        font-size: 32px;
        padding-left: 0px;
    }
    .footer-section hr{
        width: 100%;
        margin-top: 10px;
    
    }
    .footer-section2{
        width: 100%;
        padding-inline: 10px;
        font-size: 14px;
    }
    .txt{
        width: 40%;
    }
    .icon{
        width: 30%;
    }
    .footer-section ul span{
       margin-top: 0px;
    }
    .footer-section2 img{
        margin-right: -50px;
    }
    
    
     
}